
.Matter
{
    display: flex;
    height: 100px;
    width: 950px;
    /* border: 1px solid black; */
    margin-left: 130px;
    margin-top: 50px;
}

.Logo
{
    height: 100px;
    width: 250px;
    /* border: 2px solid blue; */
    border-right: 1px solid rgb(235,236,237);
}

.trivago
{
    height: 200px;
    width: 180px;
    /* border:1px solid black; */
    margin-top: -50px;
}

.Deals > div
{
    font-size: 14px;
    margin-right: 160px;
}

.Deals > h2
{
    margin-left: 10px;
    font-size: 20px;
}

a:hover, select:hover
{
    background-color: rgb(235,236,237);
}