.main-container {
  height: auto;
  max-width: 80%;
  /* border: 1px solid red; */
  display: grid;
  /* justify-content: center;
  align-items: center; */
  margin: auto;
  grid-template-columns: repeat(1, 50% 50%);
}

.main-container--div {
  /* border: 1px solid red; */
  padding: 5px;
}
.main-container-h3 {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
}
.main-container--div h3 {
  font-size: 18px;
  color: #007fad;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

.main-container--div p {
  font-size: 14px;
  color: #0a1121;
  text-align: left;
  letter-spacing: 0.2px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
.main-container-2 {
  height: auto;
  max-width: 80%;
  margin: auto;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 50% 50%;
}

.main-container-2--div {
  height: auto;
  max-width: 100%;
  /* border: 1px solid red; */
}
.main-container-2--div h3 {
  color: #007fad;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.cities {
  height: auto;
  max-width: 90%;
  /* border: 1px solid blue; */
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  /* grid-template-columns: repeat(2,120px 120px); */
}
.cities-1 {
  height: 220px;
  width: 200px;
  /* border: 2px solid rgb(255, 238, 0); */
  text-align: left;
  line-height: 50%;
  font-size: 14px;
}

.cities-2 {
  height: 220px;
  width: 200px;
  /* border: 2px solid rgb(255, 238, 0); */
  margin-left: 100px;
  text-align: left;
  line-height: 50%;
  font-size: 14px;
}

.parent-div {
  height: auto;
  width: 100%;
  background-color: #0a1121;
  margin-top: 70px;
  /* border: 1px solid red; */
}
.wrap {
  /* border: 1px solid blue; */
  width: 65%;
  margin: auto;
}

.child-div-1 {
  height: 100px;
  width: 100%;
  /* border: 1px solid white; */
  margin: 10px auto;
  display: flex;
}
.child-div-1 p {
  color: white;
  text-align: left;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  vertical-align: middle;
}
.child-div-1 input {
  height: 40px;
  width: 40%;
  border-radius: 10px;
  margin-left: 50px;
  outline: none;
  border-style: none;
  margin-top: 20px;
}
::placeholder {
  font-size: 16px;
  margin: auto;
  margin-left: 20px;
}
.child-div-1 button {
  height: 45px;
  width: 100px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 900;
  color: white;
  background-color: #697379;
  border-style: none;
}
.child-div-1 button:hover {
  background-color: #0a1121;
}
.line {
  border: 1px solid #697379;
}
.line-div {
  width: 100%;
  margin: 0 auto;
}
.child-div-2 {
  height: 80px;
  width: 100%;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  font-weight: 600;
}
.dropdown {
  /* border: 1px solid blue; */
  width: 30%;
  margin: auto;
}
.child-div-2 button {
  margin-top: 20px;
}
.child-div-2 p {
  color: white;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.dropbtn {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  background-color: #0a1121;
  /* border: 1px solid white; */
  /* border: 1px solid red; */
  overflow-y: scroll;
}
.dropbtn option {
  height: 100px;
}
.dropbtn:hover {
  background-color: #0a1121;
  border-color: white;
}
.dropbtn img {
  height: 15px;
  width: 25px;
}
.dropbtn p {
  color: black;
  /* margin-left: -180px;
  margin-top: -18px; */
}
.icons {
  height: 50px;
  width: 100%;
  /* border: 1px solid white; */
  margin: auto;
  display: flex;
}
.icons img {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  padding: 7px;
}
.child-div-3 {
  height: 150px;
  width: 100%;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
}
.child-div-3--divs {
  height: 150px;
  width: 33.3%;
  /* border: 1px solid rgb(94, 255, 0); */
}
.child-div-3--divs p {
  color: white;
  text-align: left;
  letter-spacing: 0.2px;
  line-height: 45%;
  font-size: 14px;
}
.child-div-4 {
  height: 60px;
  width: 34%;
  /* border: 1px solid rgb(94, 255, 0); */
  margin: auto;
}
.child-div-4 h1 {
  color: white;
  text-align: center;
}
.child-div-5 {
  height: 30px;
  width: 34%;
  /* border: 1px solid rgb(94, 255, 0); */
  margin: auto;
}
.child-div-5 p {
  color: white;
  font-size: 12px;
}
