.allhotelwrap {
  width: 100%;
  /* border: 1px solid blue; */
  background-color: #ebeced;
}

.parent-container-allhotels {
  height: auto;
  width: 60%;
  max-width: 60%;
  /* border: 1px solid blue; */
  background-color: #ebeced;
}
.sort-div {
  /* border: 1px solid black; */
  max-width: 40%;
  height: 40px;
  text-align: left;
}
.sort-div select {
  height: 100%;
  max-width: 90%;
  margin: auto;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.sort-div label {
  font-weight: 600;
  margin-left: 10%;
  margin-right: 2%;
  /* border: 1px solid red; */
}
.hotel-info-div {
  height: 200px;
  max-width: 90%;
  /* border: 1px solid red; */
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  background-color: white;
}
.hotel-info-div img {
  height: 190px;
  width: 200px;
  /* border: 1px solid blueviolet; */
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 5px;
}
.about-hotel1 {
  height: 190px;
  width: 40%;
  max-width: 40%;
  /* border: 1px solid rgb(0, 189, 247); */
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 5px;
}
.h3 {
  /* border: 1px solid red; */
  height: 20px;
  max-width: 100%;
}
.h3 h3 {
  font-size: 1vw;
  text-align: center;
}

.rat-div {
  height: 20px;
  max-width: 100%;
  /* border: 2px solid seagreen; */
  display: flex;
}
.pspan {
  margin-top: -10px;
}
.rat-div p {
  font-size: 1vw;
  margin-left: 5px;
  /* border: 1px solid red; */
}
.about-hotel h3 {
  margin-top: -0.5px;
  text-align: left;
}

.location {
  height: 40px;
  max-width: 100%;
  /* border: 2px solid seagreen; */
  display: flex;
}
.arrow {
  width: 10%;
  height: 15px;
  margin: 0;
  padding: 0;
  float: right;
  /* border: 1px solid red; */
}
.arrow img {
  width: 100%;
  height: 15px;
}
.rating {
  height: 40px;
  max-width: 100%;
  /* border: 1px solid seagreen; */
  display: flex;
}
.revwrap {
  /* border: 1px solid red; */
  max-width: 80%;
  height: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  display: flex;
}
.arrow2 {
  /* border: 1px solid red; */
  width: 15px;
  height: 15px;
}
.arrow2 img {
  width: 100%;
  height: 15px;
}
.about-hotel {
  /* border: 1px solid red; */
  width: 35%;
  max-width: 35%;
}
.redi {
  /* border: 1px solid red; */
  height: 30px;
  width: 90%;
  margin: auto;
  font-size: 1.5vw;
  /* margin-top: 0px; */
}
.redi p {
  text-align: center;
  margin-top: -2px;
}
.view-detail-div {
  height: 115px;
  max-width: 90%;
  margin: 5px auto;
  /* border: 1px solid rgb(247, 140, 0); */
  border-radius: 15px;
  background-color: #f1f8ea;
  display: flex;
  flex-direction: column;
}
.fact {
  /* border: 1px solid red; */
  max-width: 90%;
  display: flex;
  font-size: 0.9vw;
  margin: 0 auto;
}
.view-detail {
  height: 35px;
  width: 130px;
  background-color: #028000;
  margin-top: -15px;
  margin-left: 130px;
  border-radius: 40px;
  color: white;
  /* border: 1px solid red; */
}
.deal {
  width: 90%;
  max-width: 90%;
  /* border: 1px solid red; */
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h3p {
  /* border: 1px solid red; */
  width: 40%;
  height: 40px;
}
.h3p h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.05vw;
}
.btn {
  /* border: 1px solid red; */
  width: 60%;
}
.btn button {
  width: 90%;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #028000;
  font-size: 1vw;
  color: white;
}

.agoda-price {
  display: flex;
  height: 70px;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #fcfcfc;
  /* border: 1px solid rgb(247, 140, 0); */
}
.agoda-price-div1 {
  height: 60px;
  width: 40%;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 15px;
  margin-top: 4px;
  margin-left: 2px;
  background-color: #fcfcfc;
}
.hot {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  height: 30px;
}
.hot p {
  margin-top: 3px;
  font-size: 1vw;
}
.hotp {
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
  height: 25px;
  font-weight: 600;
  font-size: 1vw;
}
.hotp p {
  margin-top: 0;
  font-size: 1vw;
}
.agoda-price-div2 {
  height: 60px;
  width: 58%;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 15px;
  margin-top: 4px;
  margin-left: 2px;
  background-color: #fcfcfc;
}
.hotlowp {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  height: 30px;
}
.hotlow p {
  margin-top: 3px;
  font-size: 1.1vw;
}
.hotlow {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  height: 30px;
}
.hotlowp p {
  margin-top: 0px;
  font-weight: bold;
  font-size: 1vw;
}
.allhotelwrap {
  display: flex;
}
